{% include "accounts/base.html" %}
{% block content %}
<div class="home container" id="home">
    <div class="col-lg-12 text-center">
        <h1>Welcome, {{ user.username }}! <br>Welcome to your secure Django dashboard</h1>
    </div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <div class="col-lg-4 text-center">
            <!-- Logout button -->
            <button class="button m-2" type="submit">
                <span class="button-content text-decoration-none text-white"><b>Logout</b></span>
            </button>
        </div>
    </form>
</div>
{% endblock content %}
