{% include "accounts/base.html" %}
{% block content %}

<div class="container p-5">
    <div class="login-signup-form p-5">
        <h2>Reset your password</h2>
        <form class="form" method="POST" action="">
            {% csrf_token %}
            <!-- Display any custom error message -->
            {% if error_message %}
            <div class="error-message text-center" style="color:red">
                <p>{{ error_message }}</p>
            </div>
            {% endif %}
        
            <!-- Input field for password1 -->
            <input 
            placeholder="Enter your password" 
            id="password1" 
            name="password1" 
            type="password" 
            class="input" 
            value="{{ form.password1.value|default:'' }}" 
            required=""/>

            <!-- Input field for password2 -->
            <input 
            placeholder="Confirm your password" 
            id="password2" 
            name="password2" 
            type="password" 
            class="input" 
            value="{{ form.password2.value|default:'' }}" 
            required=""/>
            
            <!-- Submit button -->
            <input value="Reset Password" type="submit" class="login-button" />
        </form>
    </div>
</div>

{% endblock content %}