<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_management</title>
    <!-- Add your CSS stylesheets or links here -->
    
</head>
<body>

    <!-- Your content goes here -->

   
    <h1>Sign Up</h1>
    <form>

    <label>UserName :</label> <input type='text', id="UserName" name='UserName'>
    <label>Password :</label> <input type='Password', id="Password" name='Password'>
    <button type='submit'>Create</button>
    </form>
    <!-- Add your JavaScript scripts or links here -->
    <script>
        // Your JavaScript code goes here
    </script>
</body>
</html>
