<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_management</title>
    <!-- Add your CSS stylesheets or links here -->
    
</head>
<body>

    <!-- Your content goes here -->

   
    <h1>Sign Up</h1>
    <form method='post'>
    {% csrf_token %}
    
    <label>username :</label> <input type='text', id="username" name='username'>
    <label>password :</label> <input type='password', id="password" name='password'>
    <button type='submit'>Create</button>
    
    </form><br>
    {% if user %}
    <b>new user : {{user.username}}</b>
    {% endif %}
    {% if error_massage %}
    <b>{{error_massage}}</b>
    {% endif %}
    <!-- Add your JavaScript scripts or links here -->
    <script>
        // Your JavaScript code goes here
    </script>
</body>
</html>
